<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.title</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/Areas/Admin/assets/img/icon.ico" type="image/x-icon" />
    <!-- Fonts and icons -->
    <script src="~/Areas/Admin/assets/js/plugin/webfont/webfont.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/Areas/Admin/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- CSS Files -->
    <link href="~/Areas/Admin/assets/css/fonts.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/atlantis.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/demo.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="blue">

                <a href="index.html" class="logo">
                    <img src="~/Areas/Admin/assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
                <div class="container-fluid">
                    
                    <!-- Dropdown - Thông báo -->
                    <!--<div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="notificationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i>--> <!-- Biểu tượng chuông thông báo -->
                            <!--<span class="badge badge-pill badge-danger" id="notification-count">@ViewBag.NotificationCount</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="notificationsDropdown">
                            <h6 class="dropdown-header">Thông báo</h6>
                            @if (ViewBag.Notifications != null && ViewBag.Notifications.Count > 0)
                            {
                                foreach (var notification in ViewBag.Notifications)
                                {
                                    if (notification.ReceiverRole == "admin" && notification.TourDuLich.Status == "N")
                                    {
                                        var notificationClass = notification.IsRead ? "notification-read" : "notification-unread";
                                        var contributorName = notification.Contributor.ContributorNickName;

                                        <a class="dropdown-item d-flex align-items-center @notificationClass" href="@Url.Action("ListPendingTours", "AwaitingApprovalTour", new { id = notification.NotificationID })">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas fa-user-check text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">@notification.CreateAt.ToString("g")</div>
                                                <span class="font-weight-bold">@contributorName đã đăng bài viết mới, hãy duyệt bài!</span>
                                            </div>
                                        </a>
                                    }
                                }
                            }
                            else
                            {
                                <a class="dropdown-item text-center" href="#">
                                    <strong>Không có thông báo nào.</strong>
                                </a>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="@Url.Action("Notifications", "Booking")">Xem tất cả thông báo</a>
                        </div>
                    </div>-->
                </div>
            </nav>
            <!-- End Navbar Header -->
        </div>
        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/Areas/Admin/assets/img/MonLeo.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    Feitan
                                    <span class="user-level">Admin</span>
                                    <span class="caret"></span>
                                </span>
                            </a>
                            <div class="clearfix"></div>
                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="/Admin/Account/Login">
                                            <span class="link-collapse">Đăng xuất</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-primary">
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#base">
                                <i class="fas fa-layer-group"></i>
                                <p>Tour du lịch</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="base">
                                <ul class="nav nav-collapse">

                                    <a href="~/Admin/AwaitingApprovalTour/ListPendingTours">
                                        <span class="sub-item">DS chờ duyệt tour</span>
                                    </a>
                                    <a href="~/Admin/Booking/List">
                                        @*<i class="fa fa-user" aria-hidden="true"></i>*@
                                        <p>DS đơn đã đặt các công ty</p>
                                    </a>


                                    <a href="@Url.Action("List", "Province", new { area = "Admin" })">
                                        <span class="sub-item">DS Tỉnh Thành</span>
                                    </a>


                                    <a href="@Url.Action("List", "TourType", new { area = "Admin" })">
                                        <span class="sub-item">DS Loại tour</span>
                                    </a>


                                    <a href="@Url.Action("List", "Price", new { area = "Admin" })">
                                        <span class="sub-item">DS Mức giá</span>
                                    </a>
                                    <a href="~/Admin/Statistics/Index">
                                        @*<i class="fa fa-user" aria-hidden="true"></i>*@
                                        <p>Thống kê</p>
                                    </a>
</li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                    <a href="~/Admin/Account/List">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Tài khoản Khách Hàng</p>
                    </a>
                    <a href="~/Admin/AccountContributor/List">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Tài khoản Các Công Ty</p>
                    </a>
                </li>
                
                @*<li class="nav-item">
            <a href="~/Admin/DatTourr/DanhSach">
                <i class="fa fa-user" aria-hidden="true"></i>
                <p>Đặt tour</p>
            </a>
        </li>*@
                </ul>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->
    <div class="main-panel">
        <div class="content">
            <div class="page-inner mt--5">
                @RenderBody()
            </div>
        </div>
    </div>


    </div>
    <!--   Core JS Files   -->
    <script src="~/Areas/Admin/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Areas/Admin/assets/js/core/popper.min.js"></script>
    <script src="~/Areas/Admin/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Areas/Admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Areas/Admin/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/Areas/Admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/assets/js/table2excel.js"></script>

    <!-- Chart JS -->
    <script src="~/Areas/Admin/assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="~/Areas/Admin/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="~/Areas/Admin/assets/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="~/Areas/Admin/assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="~/Areas/Admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="~/Areas/Admin/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Areas/Admin/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- Sweet Alert -->
    <script src="~/Areas/Admin/assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Atlantis JS -->
    <script src="~/Areas/Admin/assets/js/atlantis.min.js"></script>

    <script>
    </script>

    @RenderSection("script", false)
</body>
</html>